.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar h1{
    color: tomato;
    display: flex;
    flex-direction: column;
}
.navbar h1 span{
    color: black;
    font-size: 16px;
}
.navbar .profile{
    width: 40px;
}